footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px 50px;
}
.footer-nav1,
.footer-nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.by, .footer-nav2{
    padding: 6px 12px;
    background-color: #4699E0;
    border-radius: 5px;
    margin-left: 12px;
}
.footer-nav2 img{
    width: 20px;
}