.card{
    background-color: 
    white;
    border-radius: 22px;
    display: grid;
    grid-template-rows: 140px 1fr;
    padding: 20px;
}
.thumbnail{
    width:100%;
    display: block;
}
.video-grid{
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    margin: 0px 10px;
}
.card-tittle{
    font-weight: 600;
    font-style: SemiBold;
    font-size: 19px;
}
.card-desc{
    margin-top: 10px;
    font-size: 16px;
}
.card-info{
    margin-top: 20px;
    margin-right: 20%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 800px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 801px) and (max-width: 1199px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.list{
    margin-top: 40px;
    margin-bottom: 80px;
 }  
.list ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.list ul li{
    padding: 6px 12px;
    border-top: 1px inset transparent;
    transition: 0.3s;
    color: #909090;
}
.list ul li:hover{
    border-top-color: #FF7575;
    color: #FF7575;
}